Repository 5-TAYO/SSEUKTUDY, pull requests merged in 2022-07, with the labels that each got.

#88 feat : 댓글 API
  backend/src/main/java/tayo/sseuktudy/controller/CommentController.java
  backend/src/main/java/tayo/sseuktudy/controller/UserController.java
  backend/src/main/java/tayo/sseuktudy/dto/Comment/CommentDeleteDto.java
  backend/src/main/java/tayo/sseuktudy/dto/Comment/CommentInfoDto.java
  backend/src/main/java/tayo/sseuktudy/dto/Comment/CommentModifyDto.java
  backend/src/main/java/tayo/sseuktudy/dto/Comment/CommentRegistDto.java
  backend/src/main/java/tayo/sseuktudy/mapper/CommentMapper.java
  backend/src/main/java/tayo/sseuktudy/service/CommentService.java
  backend/src/main/java/tayo/sseuktudy/service/CommentServiceImpl.java
  backend/src/main/java/tayo/sseuktudy/service/UserServiceImpl.java
  backend/src/main/resources/mapper/comment.xml
Labels: backend

#86 [BE] 스터디 전체 조회 API 중 스터디 제목으로 검색하는 부분 수정
  backend/src/main/resources/mapper/study.xml
Labels: backend

#91 feat : 스터디 전체조회 API Post로 변경, 유저가 가입하거나 신청한 스터디 조회 API 개발
  backend/src/main/java/tayo/sseuktudy/controller/StudyController.java
  backend/src/main/java/tayo/sseuktudy/dto/study/StudyUserFilterDto.java
  backend/src/main/java/tayo/sseuktudy/mapper/StudyMapper.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyService.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyServiceImpl.java
  backend/src/main/resources/mapper/study.xml
Labels: backend

#97 fix : 스터디에 스터디장만 있을 경우 스터디원 조회가 안되는 오류 수정, 스터디원 정보 조회 수정
  backend/src/main/java/tayo/sseuktudy/controller/MemberController.java
  backend/src/main/resources/mapper/member.xml
Labels: backend

#104 feat : 스터디 리스트 페이지 기능
  frontend/package.json
  frontend/src/apis/index.js
  frontend/src/apis/study.js
  frontend/src/assets/images/LoadingSpinner.svg
  frontend/src/assets/images/RightArrow.svg
  frontend/src/components/Main/CarouselStudyList.jsx
  frontend/src/components/Main/CarouselStudyList.scss
  frontend/src/components/Main/InfinityStudyCardList.jsx
  frontend/src/components/Main/InfinityStudyCardList.scss
  frontend/src/components/Main/StudyCard.jsx
  frontend/src/components/Main/StudyCard.scss
  frontend/src/components/Main/StudyCardList.jsx
  frontend/src/components/Main/StudyCardList.scss
  frontend/src/index.jsx
  frontend/src/screens/Home.jsx
  frontend/src/screens/StudyList.jsx
  frontend/src/utils/ScrollToTop.js
Labels: frontend

#108 fix : 대댓글 로직을 스터디 서비스에 병합 #107
  backend/src/main/java/tayo/sseuktudy/controller/CommentController.java
  backend/src/main/java/tayo/sseuktudy/service/CommentService.java
  backend/src/main/java/tayo/sseuktudy/service/CommentServiceImpl.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyServiceImpl.java
Labels: bug, backend

#113 feat : 스터디 상세조회 API 호출 시 조회수 증가기능 추가 , studyId 바인딩 안되던 것 수정
  backend/src/main/java/tayo/sseuktudy/mapper/StudyMapper.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyServiceImpl.java
  backend/src/main/resources/mapper/comment.xml
  backend/src/main/resources/mapper/study.xml
Labels: backend

#114 feat : 스터디 필터링 전체조회 API에서 회원 좋아요 상태를 알 수 있는 기능 추가
  backend/src/main/java/tayo/sseuktudy/controller/StudyController.java
  backend/src/main/java/tayo/sseuktudy/dto/study/StudyFilterDto.java
  backend/src/main/java/tayo/sseuktudy/dto/study/StudyInfoDto.java
  backend/src/main/java/tayo/sseuktudy/mapper/StudyMapper.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyServiceImpl.java
  backend/src/main/resources/mapper/study.xml
Labels: backend

#115 feat : 스터디 신청 전 사전질문 받아오기 API 개발
  backend/src/main/java/tayo/sseuktudy/controller/MemberController.java
  backend/src/main/java/tayo/sseuktudy/dto/question/QuestionInfoDto.java
  backend/src/main/java/tayo/sseuktudy/mapper/QuestionMapper.java
  backend/src/main/java/tayo/sseuktudy/service/member/MemberService.java
  backend/src/main/java/tayo/sseuktudy/service/member/MemberServiceImpl.java
  backend/src/main/resources/mapper/question.xml
Labels: backend

#117 feat : 비밀번호 암호화 - 스프링 시큐리티 #116
  backend/build.gradle
  backend/src/main/java/tayo/sseuktudy/WebSecurityConfig.java
  backend/src/main/java/tayo/sseuktudy/mapper/UserMapper.java
  backend/src/main/java/tayo/sseuktudy/service/UserServiceImpl.java
  backend/src/main/resources/mapper/user.xml
Labels: backend

#106 feat : 메인페이지 기능
  frontend/src/components/Main/StudyCard.jsx
  frontend/src/screens/Main.jsx
  frontend/src/screens/StudyList.jsx
  frontend/src/utils/studyConditions.js
Labels: frontend

#126 fix : 가입한, 신청한 스터디 조회 API를 필터로 분리가능하게 수정
  backend/src/main/java/tayo/sseuktudy/controller/StudyController.java
  backend/src/main/java/tayo/sseuktudy/dto/study/StudyUserFilterDto.java
  backend/src/main/java/tayo/sseuktudy/mapper/StudyMapper.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyService.java
  backend/src/main/java/tayo/sseuktudy/service/study/StudyServiceImpl.java
  backend/src/main/resources/mapper/study.xml
Labels: backend
